$kn-white: #fff;
$kn-black: #000;
$kn-light-gray: #fafafa;
$kn-gray: #dedede;
$kn-dark-gray: #575555;
$kn-purple: #912da2;

$font-family-sans-serif: 'Poppins', sans-serif;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

