@import "../assets/style/variable";

.job-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid $kn-gray;
  cursor: pointer;

  &:hover {
    background-color: $kn-light-gray;
  }

  .left-side {
    :first-child {
      font-size: $font-size-large;
      font-weight: $font-weight-bolder;
    }

    :nth-child(2) {
      font-size: $font-size-small;
    }

    :last-child {
      font-size: $font-size-extra-small;
    }
  }

  .right-side {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }
}
